<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<h1>Umów wizytę</h1>
<span>Wybierz lekarza</span>
<select>
    <option>dr Jan Grzybiarz</option>
    <option>dr Marek Linda</option>
    <option>dr Iwona Zyps</option>
    <option>dr Jacek Gralak</option>
</select>
<span>Wybierz datę</span>
<input type="date"/>
<span>Wybierz godzinę</span>
<select>
    <option>8:15</option>
    <option>8:30</option>
    <option>9:00</option>
    <option>9:45</option>
    <option>11:00</option>
    <option>11:30</option>
</select>
<button>Umów wizytę</button>

<h1>Moje wizyty</h1>
<br>
<table>
    <tr>
        <th>Data</th>
        <th>Godzina</th>
        <th>Lekarz</th>
        <th>Gabinet</th>
    </tr>
    <tr>
        <td>17/06/2018</td>
        <td>8:30</td>
        <td>dr Marek Linda</td>
        <td>31</td>
        <td>
            <button>Odwołaj</button>
        </td>
    </tr>
    <tr>
        <td>21/06/2018</td>
        <td>10:30</td>
        <td>dr Jacek Gralak</td>
        <td>32</td>
        <td>
            <button>Odwołaj</button>
        </td>
    </tr>
</table>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>