<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">

    <h1>Moje dyżury</h1>

    <table>
        <tr>
            <th>Data</th>
            <th>Godzina rozpoczęcia</th>
            <th>Godzina zakończenia</th>
            <th>Gabinet</th>
        </tr>
        <tr th:each="duty : ${duties}">
            <td th:text="${#temporals.format(duty.startDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#temporals.format(duty.startDate, 'HH:mm')}"></td>
            <td th:text="${#temporals.format(duty.endDate, 'HH:mm')}"></td>
            <td th:text="${duty.office}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(duties)}">
            <td colspan="4">Pusto</td>
        </tr>
    </table>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</div>
</body>
</html>