<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<h1>Moje dużury</h1>
<br>
<h2>PONIEDZIAŁEK</h2>
<span>Od</span>
<input type="time" value="08:30"/>
<span>Do</span>
<input type="time" value="17:30"/>
<button>Zapisz</button>
<button>Usuń</button>
<h2>WTOREK</h2>
<span>Od</span>
<input type="time" value="09:30"/>
<span>Do</span>
<input type="time" value="16:00"/>
<button>Zapisz</button>
<button>Usuń</button>
<h2>ŚRODA</h2>
<button>Dodaj</button>
<h2>CZWARTEK</h2>
<button>Dodaj</button>
<h2>PIĄTEK</h2>
<button>Dodaj</button>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>