<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Appointments</title>
</head>
<body>

<div class="container" th:if="${not #lists.isEmpty(appointments)}">
    <h2>My appointments</h2>
    <div th:if="${param.deleted}">
        <div class="alert alert-info">Appointment has been deleted</div>
    </div>
    <div th:if="${param.deleted}">
        <div class="alert alert-info">Appointment has been added</div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
        </tr>
        <tr th:each="a : ${appointments}">
            <form th:action="@{/appointments/{id}/delete(id=${a.id})}" method="post">
                <td th:text="${a.patient.getFirstName() + ' ' + a.patient.getLastName()}"></td>
                <td th:text="${a.getStartDate().format(T(java.time.format.DateTimeFormatter).ISO_LOCAL_DATE)}"></td>
                <td th:text="${a.getStartDate().format(T(java.time.format.DateTimeFormatter).ISO_LOCAL_TIME) + ' - ' +
            a.getEndDate().format(T(java.time.format.DateTimeFormatter).ISO_LOCAL_TIME)}"></td>
                <td>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
            </form>
        </tr>
    </table>
</div>
<br>
    <h4> <a href="/" th:href="@{/ }">Home page</a></h4>
    <h4> <a href="/" th:href="@{/logout }">Log out</a></h4>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>